
.page_main div {
    background-color: white;
}
/*登录页面的自定义样式*/

.login-error {
    color: red;
}

.valid-img {
    height: 35px;
    width: 220px;
}

/*注册页面的自定义样式*/
.reg-form {
    margin-top: 70px;
}

#avatar-img {
    width: 80px;
    height: 80px;
}

/* 页面主体自定义样式 */
.author-avatar {
    width: 60px;
    height: 60px;
}
.article-foot span {
    margin-right: 15px;
}
.article-foot {
    margin-top: 15px;
}
.up_count:hover {
    text-decoration:none;
}

/* 个人主页的样式*/
.header {
    height: 50px;
    width: 100%;
    color: black;
    background-color: black;
}
#head_span {
    color: white;
    padding-top: 6px;
    padding-left: 30px;
    padding-right: 130px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    padding-top: 30px;
}

.bg {
    height: 100%;
    background-image: url("/static/img/xmbgi3.jpg");
}

/*点赞样式开始*/
#div_digg {
    float: right;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 12px;
    width: 125px;
    text-align: center;
    margin-top: 10px;
}

.diggit {
    float: left;
    width: 46px;
    height: 52px;
    background: url("/static/img/upup.gif") no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}
.buryit {
    float: right;
    margin-left: 20px;
    width: 46px;
    height: 52px;
    background: url("/static/img/downdown.gif") no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}

.clear {
    clear: both;
}

/* 评论样式开始 */
input.author{
    background-image: url("/static/img/icon_form.gif");
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 4px 4px 4px 30px;
    width: 300px;
    font-size: 13px;
}



.list-group-item .con{
    margin-top: 10px;
    padding-left: 38px;
}


.comment_tree .comment_item{
    margin-left: 20px;
}




















